@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*delete arrow input*/
input[type='number'] {
    -moz-Containerearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-Containerearance: none;
}

/*delete arrow input*/
.App {
    min-height: 100vh;
    background: #000d0f;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #00deff;
}


.inputContainer {
    min-width: 500px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 110px;
    padding-top: 50px;
}

.input_minValue {
    width: 50%;
    position: absolute;
    left: 30px;
}


.input_maxValue {
    width: 50%;
    position: absolute;
    right: 30px;
}

.input {
    display: inline-block;
    width: 150px;
    height: 50px;
    background: #000d0f;
    color: #00deff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    outline: none;
    padding: 0 15px 0 15px;
    margin: 10px;
}

.input:hover {
    width: 190px;
    transition: .8s;
    border: 2px solid rgba(255, 255, 255, 1);
}

@media screen and (max-width: 500px) {
    .input {
        width: 100px;
    }

    .input:hover {
        width: 130px;
    }
}

.setBtnContainer {
    width: 100%;
    height: 100%;
    display: block;
}

/*Tablo*/
.tablo {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.redCount {
    color: #aa0000;
    font-size: 30px;
    transition: .8s;
}

.blueCount {
    color: #00deff;
    font-size: 30px;
}

.buttomWrap {
    min-width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-direction: row;
}

.tablo__btn {
    margin-top: 50px;
}

.incBtn {
    margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .buttomWrap {
        flex-direction: column;
    }

    .tablo__btn {
        margin-top: 50px;
    }

    .incBtn {
        margin-bottom: 50px;
    }
}

/*Button*/


.button {
    display: flex;
    justify-content: center;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #00deff;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

/*noinspection ALL*/
svg {
    stroke-dasharray: 150 480;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #00deff;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: #00deff;
    font-size: 18px;
    font-weight: 700;
}

.btn:hover span {
    color: #000d0f;
    font-size: 18px;
    font-weight: 700;
}
/*disable class*/
.disabledBtn span {
    color: #000d0f;
    font-size: 18px;
    font-weight: 700;
}

.disabledBtn {
    background: #4e0000;
    color: #000d0f;
    border-color: #000d0f;
}
.disabledBtn:hover {
    background: #4e0000;
    color: #000d0f;
    cursor: auto;
}
.disableSVG svg {
    stroke: #000d0f;
}




